* {
  box-sizing: border-box; /* Faz com que os paddings, margin sejam aplicados na caixa do elemento */
}

:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-card: #302f3d;
  --bg-techs: #cb92b1;
  --bg-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  --bg-radius: 20px;

  --avatar-url: url("./assets/profile.png");
}

body {
  background: var(--body-bg-color);
  font-family: "Merriweather Sans", sans-serif;
}

/* ===== MAIN ===== */
.main {
  display: flex;
  gap: 60px;

  margin: 40px 40px;
}

/* ===== LEFT CARDS ===== */
.left-cards {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 30px;

  width: max-content;
  height: max-content;
}

/* ===== PROFILE ===== */
#profile {
  position: relative;

  width: 348px;
  height: 292px;

  background: var(--bg-card);

  border: 1px solid #000000;
  border-radius: var(--bg-radius);
  box-shadow: var(--bg-shadow);
}

#profile img {
  width: 128px;
  height: 128px;

  margin: 32px 110px;
}

#profile h4 {
  display: flex;
  justify-content: center;

  margin: 0;

  font-size: 23px;
  font-style: normal;
  font-weight: 700;

  color: #837e9f;
}

#profile p {
  display: flex;
  justify-content: center;

  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  color: #837e9f;
  line-height: 16px;

  margin: 0;
}

/* ===== TODOS OS card ===== */

.links-card,
.tecnologies-card,
.experiences-card,
.education-card,
#my-projects {
  background: var(--bg-card);

  box-shadow: var(--bg-shadow);
  border-radius: var(--bg-radius);
}

/* ===== LINKS ===== */
.links-card {
  width: 348px;
  height: max-content;

  padding: 30px 40px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.links #localization,
#work,
#github,
#linkedin,
#instagram,
#portfolio,
#email {
  display: flex;
  flex-direction: row;
  gap: 20px;

  font-size: 13px;
  font-weight: 400;
  color: var(--text-color);

  align-items: center;
}

#github a,
#linkedin a,
#instagram a,
#portfolio a {
  text-decoration: none;
  color: var(--text-color);
}

/* ===== TECNOLOGIAS ===== */

.tecnologies-content {
  padding: 5px 0 30px 20px;
}

.tecnologies-content h4,
.experiences-content h4,
.educations-content h4 {
  color: var(--text-color);
  font-weight: 700;
  font-size: 20px;
}

.tecnologies-content .tecnologies {
  display: flex;
  flex-direction: column;
}

.tecnologies-content .tecnologies p {
  display: flex;
  justify-content: center;

  width: 86px;
  height: 24px;
  background: #cb92b1;

  border-radius: 30px;

  margin: 6px 0 0 7px;
}

#first-tecnologies,
#second-tecnologies,
#third-tecnologies {
  display: flex;
  flex-direction: row;
}

/* ===== EXPERIENCIAS ===== */
.experiences-content {
  padding: 5px 0 30px 20px;
  height: max-content;
}

.experiences ul li {
  color: var(--text-color);
}

.experiences h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

  color: var(--text-color);
}

.experiences p {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;

  color: #837e9f;
}

/* ===== EDUCATION ===== */
.educations-content {
  padding: 30px 0 30px 20px;
}

.educations ul li {
  color: var(--text-color);
}

.educations ul li h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.educations ul li p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.educations ul li .period {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;

  padding-top: 0px;
}

/* ===== RIGHT CARDS ===== */
.right-cards {
  display: flex;
  flex-direction: column;
  gap: 31px;

  border: 1px solid red;
}

/* ===== MY PROJECTS ===== */
#my-projects {
  width: 952px;
  height: 86px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#my-projects h4 {
  padding: 30px 0 30px 30px;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: var(--text-color);
}

#my-projects p {
  padding: 34px 31px 34px 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--text-color);
}

/* ===== PROJECTS ===== */

.projects-cards {
  display: flex;
  justify-content: space-between;
}

#first-card,
#second-card {
  width: 461px;
  height: 186px;

  background: var(--bg-card);
  border-radius: var(--bg-radius);
  box-shadow: var(--bg-shadow);
}

#first-project-content,
#second-project-content {
  padding: 10px 30px 30px 30px;
}

#project-title,
#second-project-title {
  display: flex;
  gap: 16px;
}

#project-title p,
#second-project-title p {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  color: var(--text-color);
}

#project-description,
#second-project-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: var(--text-color);
}

.project-achivements,
.second-project-achivements {
  display: flex;
  gap: 16px;
}

#project-stars,
#project-branchs,
#second-project-stars,
#second-project-branchs {
  display: flex;
  gap: 8px;

  align-items: center;
}

#project-stars,
#project-branchs p,
#project-language p,
#second-project-stars,
#second-project-branchs p,
#second-project-language p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  color: var(--text-color);
}

#project-achivements,
#second-project-achivements {
  display: flex;
  justify-content: space-between;
}

#project-language,
#second-project-language {
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: 8px;
}

#project-language #language,
#second-project-language #language,
#second-language {
  width: 15px;
  height: 15px;

  background: #e7de79;
  border: 2px solid #837e9f;
  border-radius: 50%;
}
